.user-card {
  max-width: 100px;
  width: 100px;
  padding: 8px 2px;
  box-sizing: border-box;
  text-align: center;
  background-color: #e9e9e9;
  padding: 15px 0;
  font-size: 1em;
  border-radius: 10%;
  border-style: groove;
  position: relative;
}

.user-card .checkbox {
  position: absolute;
  top: 5px;
  left: 5px;
}

.user-image {
  height: 45px;
  min-height: 45px;
}

.user-card .avatar {
  width: 45px;
  height: auto;
  border-radius: 50%;
}

.user-card .user-id {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 15px;
}

.user-card .username {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px;
}

.user-card .view-profile {
  margin-top: 1em;
}

.user-card .view-profile .link {
  text-decoration: none;
  color: #000;
}

.user-card .view-profile .button {
  background-color: #65a3d3;
  border-radius: 10%;
  padding: 5px 5px;
  font-size: 0.8em;
}

.user-card .view-profile .button:hover {
  background-color: #1b76b8;
  color: #fff;
}
